<!DOCTYPE html>
<html>
<head>
<title>Page Overview - django-tracking2</title>
</head>
<body>
    <h1>Page Overview - django-tracking2</h1>
    <div id="tracking-filters">
        <form method="GET">
            {{ form.as_table }}
            <input type="submit" name="submit" value="submit" />
        </form>
    </div>
    <div id="tracking-stats">
        <dl>
            <dt>Total Page Views</dt>
            <dd>{{ total_page_views }}</dt>
            <dt># of Pages Viewed</dt>
            <dd>{{ total_pages }}</dt>
        </dl>
        {% if pageview_counts.has_previous %}
            <a href="{% url 'tracking-page-overview' %}?page={{ pageview_counts.previous_page_number }}&start={{ start_time|date:"Y-m-d H:i:s" }}&end={{ end_time|date:"Y-m-d H:i:s" }}">previous</a>
        {% endif %}
        {% if pageview_counts.has_next %}
            <a href="{% url 'tracking-page-overview' %}?page={{ pageview_counts.next_page_number }}&start={{ start_time|date:"Y-m-d H:i:s" }}&end={{ end_time|date:"Y-m-d H:i:s" }}">next</a>
        {% endif %}
        <table>
            <caption>Pages</caption>
            <thead>
                <th>URL</th>
                <th># of Views</th>
            </thead>
            <tbody>
                {% for c in pageview_counts %}
                <tr>
                    <td><a href="{% url 'tracking-page-detail' %}?page_url={{ c.url }}&start={{ start_time|date:"Y-m-d H:i:s" }}&end={{ end_time|date:"Y-m-d H:i:s" }}" title="View all pageviews of {{ c.url }}">{{ c.url }}</a></td>
                    <td><a href="{% url 'tracking-page-detail' %}?page_url={{ c.url }}&start={{ start_time|date:"Y-m-d H:i:s" }}&end={{ end_time|date:"Y-m-d H:i:s" }}" title="View all pageviews of {{ c.url }}">{{ c.views }}</a></td>
                </tr>
                {% endfor %}
            </tbody>	    
        </table>
        {% if pageview_counts.has_previous %}
            <a href="{% url 'tracking-page-overview' %}?page={{ pageview_counts.previous_page_number }}&start={{ start_time|date:"Y-m-d H:i:s" }}&end={{ end_time|date:"Y-m-d H:i:s" }}">previous</a>
        {% endif %}
        {% if pageview_counts.has_next %}
            <a href="{% url 'tracking-page-overview' %}?page={{ pageview_counts.next_page_number }}&start={{ start_time|date:"Y-m-d H:i:s" }}&end={{ end_time|date:"Y-m-d H:i:s" }}">next</a>
        {% endif %}
    </div>
</body>
</html>