<!DOCTYPE html>
<html>
<head>
<title>{{ page_url }} Details - django-tracking2</title>
</head>
<body>
    <h1>{{ page_url }} Details - django-tracking2</h1>
    <div id="tracking-filters">
        <form method="GET">
            <input type="hidden" name="page_url" value={{ page_url }} />
            {{ form.as_table }}
            <input type="submit" name="submit" value="submit" />
        </form>
    </div>
    <div id="tracking-stats">
        <dl>
            <dt>Total Views</dt>
            <dd>{{ total_views }}</dt>
            <dt># of Unique Visitors</dt>
            <dd>{{ visitors }}</dt>
        </dl>
        {% if pageview_counts.has_previous %}
            <a href="{% url 'tracking-page-detail' %}?page_url={{ page_url }}&page={{ pageviews.previous_page_number }}&start={{ start_time|date:"Y-m-d H:i:s" }}&end={{ end_time|date:"Y-m-d H:i:s" }}">previous</a>
        {% endif %}
        {% if pageview_counts.has_next %}
            <a href="{% url 'tracking-page-detail' %}?page_url={{ page_url }}&page={{ pageviews.next_page_number }}&start={{ start_time|date:"Y-m-d H:i:s" }}&end={{ end_time|date:"Y-m-d H:i:s" }}">next</a>
        {% endif %}
        <table>
            <caption>Pageviews</caption>
            <thead>
                <th>Time</th>
                <th>User</th>
                <th>URL</th>
            </thead>
            <tbody>
                {% for pv in pageviews %}
                <tr>
                    <td><a href="{% url 'tracking-visitor-page-detail' user_id=pv.visitor.user.pk %}?page_url={{ page_url }}&start={{ start_time|date:"Y-m-d H:i:s" }}&end={{ end_time|date:"Y-m-d H:i:s" }}" title="View visits by {% firstof user.get_full_name user %} involving {{ page_url }}">{{ pv.view_time|date:"Y-m-d H:i:s" }}</a></td>
                    <td><a href="{% url 'tracking-visitor-page-detail' user_id=pv.visitor.user.pk %}?page_url={{ page_url }}&start={{ start_time|date:"Y-m-d H:i:s" }}&end={{ end_time|date:"Y-m-d H:i:s" }}" title="View visits by {% firstof user.get_full_name user %} involving {{ page_url }}">{% firstof user.get_full_name user %}</a></td>
                    <td><a href="{% url 'tracking-visitor-page-detail' user_id=pv.visitor.user.pk %}?page_url={{ page_url }}&start={{ start_time|date:"Y-m-d H:i:s" }}&end={{ end_time|date:"Y-m-d H:i:s" }}" title="View visits by {% firstof user.get_full_name user %} involving {{ page_url }}">{{ page_url }}</a></td>

                </tr>
                {% endfor %}
            </tbody>	    
        </table>
        {% if pageview_counts.has_previous %}
            <a href="{% url 'tracking-page-detail' %}?page_url={{ page_url }}&page={{ pageviews.previous_page_number }}&start={{ start_time|date:"Y-m-d H:i:s" }}&end={{ end_time|date:"Y-m-d H:i:s" }}">previous</a>
        {% endif %}
        {% if pageview_counts.has_next %}
            <a href="{% url 'tracking-page-detail' %}?page_url={{ page_url }}&page={{ pageviews.next_page_number }}&start={{ start_time|date:"Y-m-d H:i:s" }}&end={{ end_time|date:"Y-m-d H:i:s" }}">next</a>
        {% endif %}
    </div>
</body>
</html>