{% extends "base.html" %}

{% block content %}

<h2>{{ user_name }} Visits</h2>

<div class="tracking-breadcrumb">
  <a href="{% url 'tracking-dashboard' %}">Dashboard</a> &gt;
  {{ user_name }}'s visits
</div>

{% include "tracking/snippets/pagination_links.html" %}

<table class="tracking-list tracking-user-visits">
  <thead>
    <tr>
      <th>Start time</th>
      <th>IP Address</th>
      <th>Time on site</th>
      <th>Platform</th>
    </tr>
  </thead>
  <tbody>
    {% for v in object_list %}
    <tr>
      <td><a href='{% url 'tracking-pageviews' v.pk %}'>{{ v.start_time }}</a></td>
      <td>
        {{ v.ip_address }}
        {{ v.geoip_data.city }}
        {{ v.geoip_data.country_name }}
      </td>
      <td>{{ v.start_time|timesince:v.last_time }}</td>
      <td>{{ v.platform }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "tracking/snippets/pagination_links.html" %}

{% endblock %}
