<!DOCTYPE html>
<html>
<head>
<title>{% firstof visit.user.get_full_name visit.user %} {{ visit.start_time|date:"Y-m-d H:i:s" }} - {{ visit.end_time|date:"Y-m-d H:i:s" }} Visit Detail - django-tracking2</title>
</head>
<body>
    <h1>{% firstof visit.user.get_full_name visit.user %} {{ visit.start_time|date:"Y-m-d H:i:s" }} - {{ visit.end_time|date:"Y-m-d H:i:s" }} Visit Detail - django-tracking2</h1>
    <div id="tracking-stats">
        <dl>
            <dt>Duration</dt>
            <dd>{{ visit.time_on_site }}</dt>
            <dt># of Page Views</dt>
            <dd>{{ pvcount }}</dt>
            <dt>Avg Time/Page</dt>
            <dd>{{ avg_time_per_page|default_if_none:"n/a" }}</dt>
            <dt>IP</dt>
            <dd>{{ visit.ip_address }}</dt>
            <dt>User Agent</dt>
            <dd>{{ visit.user_agent }}</dt>
        </dl>
        {% if pageview_stats.has_previous %}
            <a href={% url 'tracking-visitor-visits' visit_id=visit.pk %}?pvpage={{ pageviews.number }}&pvspage={{ pageviews_stats.previous_page_number }}>previous</a>
        {% endif %}
        {% if pageview_stats.has_next %}
            <a href={% url 'tracking-visitor-visits' visit_id=visit.pk %}?pvpage={{ pageviews.number }}&pvspage={{ pageviews_stats.next_page_number }}>next</a>
        {% endif %}
        <table>
            <caption>Views/Page</caption>
            <thead>
                <th>URL</th>
                <th># of views</th>
            </thead>
            <tbody>
            {% for stat in pageview_stats %}
                <tr>
                    <td><a href={% url 'tracking-visitor-page-detail' user_id=visit.user.pk %}?page_url={{ stat.url }}>{{ stat.url }}</a></td>
                    <td>{{ stat.views }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if pageview_stats.has_previous %}
            <a href={% url 'tracking-visitor-visits' visit_id=visit.pk %}?pvpage={{ pageviews.number }}&pvspage={{ pageviews_stats.previous_page_number }}>previous</a>
        {% endif %}
        {% if pageview_stats.has_next %}
            <a href={% url 'tracking-visitor-visits' visit_id=visit.pk %}?pvpage={{ pageviews.number }}&pvspage={{ pageviews_stats.next_page_number }}>next</a>
        {% endif %}
      
        {% if pageviews.has_previous %}
            <a href={% url 'tracking-visitor-visits' visit_id=visit.pk %}?pvpage={{ pageviews.previous_page_number }}>previous</a>
        {% endif %}
        {% if pageviews.has_next %}
            <a href={% url 'tracking-visitor-visits' visit_id=visit.pk %}?pvpage={{ pageviews.next_page_number }}>next</a>
        {% endif %}
        <table>
            <caption>Page Views</caption>
            <thead>
                <th>Time</th>
                <th>URL</th>
            </thead>
            <tbody>
                {% for view in pageviews %}
                <tr>
                    <td>{{ view.view_time|date:"Y-m-d H:i:s" }}</td>
                    <td><a href={% url 'tracking-pageview-detail' user_id=visit.user.pk pageview_id=view.pk %}>{{ view.url }}</a></td>
                </tr>
                {% endfor %}
            </tbody>	    
        </table>
        {% if pageviews.has_previous %}
            <a href={% url 'tracking-visitor-visits' visit_id=visit.pk %}?pvpage={{ pageviews.previous_page_number }}&pvspage={{ pageviews_stats.number }}>previous</a>
        {% endif %}
        {% if pageviews.has_next %}
            <a href={% url 'tracking-visitor-visits' visit_id=visit.pk %}?pvpage={{ pageviews.next_page_number }}&pvspage={{ pageviews_stats.number }}>next</a>
        {% endif %}
    </div>
</body>
</html>