<!DOCTYPE html>
<html>
<head>
<title>{% firstof user.get_full_name user %} {{ page_url }} Visits - django-tracking2</title>
</head>
<body>
    <h1>{% firstof user.get_full_name user %} {{ page_url }} Visits - django-tracking2</h1>
    <div id="tracking-stats">
        <dl>
            <dt>Total Views</dt>
            <dd>{{ total_views }}</dt>
            <dt>Avg Duration</dt>
            <dd>{{ avg_duration }}</dt>
            <dt>Avg Views/Visit</dt>
            <dd>{{ avg_views_per_visit }}</dt>
        </dl>
        <table>
            <caption>Visits involving {% page_url %} by {% firstof user.get_full_name user %}</caption>
            <thead>
                <th>Start Time</th>
                <th>End Time</th>
            </thead>
            <tbody>
                {% for visit in visits %}
                <tr>
                    <td><a href={% url 'tracking-visitor-visits' visit_id=visit.pk %}>{{ visit.start_time|date:"Y-m-d H:i:s" }}</a></td>
                    <td><a href={% url 'tracking-visitor-visits' visit_id=visit.pk %}>{{ visit.end_time|date:"Y-m-d H:i:s" }}</a></td>
                </tr>
                {% endfor %}
            </tbody>	    
        </table>
    </div>
</body>
</html>