<!DOCTYPE html>
<html>
<head>
<title>{% firstof user.get_full_name user %} {{ visit.start_time|date:"Y-m-d H:i:s" }} - {{ visit.start_time|date:"Y-m-d H:i:s" }} Visit Overview - django-tracking2</title>
</head>
<body>
    <h1>{% firstof user.get_full_name user %} {{ visit.start_time|date:"Y-m-d H:i:s" }} - {{ visit.start_time|date:"Y-m-d H:i:s" }} Visit Overview - django-tracking2</h1>
    <div id="tracking-stats">
        <dl>
            <dt>Duration</dt>
            <dd>{{ visit.time_on_site }}</dt>
            <dt># of Page Views</dt>
            <dd>{{ len(pageviews) }}</dt>
            <dt>IP</dt>
            <dd>{{ visit.ip_address }}</dt>
            <dt>User Agent</dt>
            <dd>{{ visit.user_agent }}</dt>
      </dl>
      <table>
        <caption>Views/Page</caption>
        <thead>
            <th>URL</th>
            <th># of views</th>
        </thead>
        <tbody>
        {% regroup pageviews by url as pageList %}
        {% for page in pageList %}
            <tr>
                <td>{{ pageList.grouper }}</td>
                <td>{{ len(pageList) }}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
      
        <table>
            <caption>Page Views</caption>
            <thead>
                <th>Time</th>
                <th>URL</th>
            </thead>
            <tbody>
                {% for view in pageviews %}
                <tr>
                    <td>{{ view.view_time|date:"Y-m-d H:i:s" }}</td>
                    <td>{{ view.url }}</td>
                </tr>
                {% endfor %}
            </tbody>	    
        </table>
    </div>
</body>
</html>